p{
    color: rgb(78, 228, 64);
}
div{
    background-color: rgb(75, 51, 51);
}

.background-image {
    background-image: url('https://images.pexels.com/photos/4913167/pexels-photo-4913167.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=600');
    padding: 30px;
    color: white;
  }
.repeat {
    background-image: url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=150');
    background-repeat: no-repeat;
    background-color: aliceblue;
  }
.repeatHorizontal {
    background-image: url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=150');
    background-repeat: repeat-x;
    background-color: white;
    
  }
.repeatVertical {
    
    background-color: white;
    
  }
  /* body{
    background-image: url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=150');
    background-repeat: repeat-y;
  } */

  .backgroundsize{
    padding: 60px;
    background-image: url('https://images.pexels.com/photos/2512387/pexels-photo-2512387.jpeg?auto=compress&cs=tinysrgb&w=400');
    /* Image stretches to occupy full space */
    background-size: cover;
    color: blue;
  }

  .backgroundPosition{
    height: 300px;
    background-color: lightblue;
    background-image: url('https://images.pexels.com/photos/207305/pexels-photo-207305.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=150');
    background-repeat: no-repeat;
    background-position: right top;
  }

  .backgroundPositiontwo{
    height: 300px;
    background-color: lightblue;
    background-image: url('https://images.pexels.com/photos/207305/pexels-photo-207305.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=150');
    background-repeat: no-repeat;
    background-position: bottom;
  }

  .backgroundPositionthree{
    height: 300px;
    background-color: lightblue;
    background-image: url('https://images.pexels.com/photos/207305/pexels-photo-207305.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=150');
    background-repeat: no-repeat;
    background-position: 30% 10px;
  }

  .linear-gredient{
    background: linear-gradient(to top right, red, orange, yellow, white);
    padding: 20px;
    color: black;
  }

  .radial-gradient{
    background: radial-gradient(circle at center, red, yellow, blue);
    padding: 20px;
    color: black;
  }