div {
    padding: 10px;
    margin: 10px;
  }
  #first {
    border: solid 1px darkgrey;
  }
  #second {
    border-bottom-style: dotted;
    border-color: green;
  }
  button {
    margin-top: 10px;
    padding: 8px 12px;
    border-style: outset;
  }

  #newwidth{
     border-style: solid;
      border-width: thin 4px;
     
  }
  #threeValue{
     border-style: solid;
      border-width: 1px 2px 4px;
     
  }

  #fourValues{
    border-style: solid;
    border-width: 1px 2px 3px 4px;
  }

  #firstcolor {
    border-style: solid;
    border-color: orange;
  }

  #twocolor {
    border-style: solid;
    border-color: grey red;
  }

  #threecolor {
    border-style: dashed;
    border-color: blue transparent green;
  }

  #fourcolor {
    border-style: solid;
    border-color: blue red green yellow;
  }

  #firstBorderside {
    border-style: solid;
    border-left-color: red;
    border-right-color: green;
  }
  #secondBorderside {
    border-top-style: dashed;
    border-bottom-style: dashed;
    border-color: #cccccc;
  }

  #firstRadius {
    background-color: teal;
    border-radius: 15px;
    width: 100px;
  height: 100px;
  margin: 10px;
  }
  #secondRadius {
    background-color: red;
    border: 5px solid darkred;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
  }

  .twoBorderRadius {
    width: 250px;
    height: 150px;
    background-color: rgb(219, 121, 16);
    border-radius: 40px 10px;
  }

  .threeBorderRadius {
    width: 250px;
    height: 150px;
    background-color: teal;
    border-radius: 40px 10px 0px;
  }

  .fourBorderRadius {
    width: 250px;
    height: 150px;
    background-color: rgb(27, 15, 188);
    border-radius: 40px 10px 0 100px;
  }