div {
    padding: 10px;
    margin: 10px;
  }
  #first {
    border: solid 1px darkgrey;
  }
  #second {
    border-bottom-style: dotted;
    border-color: green;
  }
  button {
    margin-top: 10px;
    padding: 8px 12px;
    border-style: outset;
  }

  #newwidth{
     border-style: solid;
      border-width: thin 4px;
     
  }
  #threeValue{
     border-style: solid;
      border-width: 1px 2px 4px;
     
  }

  #fourValues{
    border-style: solid;
    border-width: 1px 2px 3px 4px;
  }