div {
    background-color: lightgreen;
    width: 250px;
    height: 150px;
    padding: 50px;
    border: solid 40px darkgreen;
    margin: 30px;
  }

  .box{
    
        background-color: green;
        width: 250px;
        height: 150px;
        padding: 20px;
        color: lightblue;
        border: solid 20px darkgreen;
        margin: 30px;
        box-sizing: border-box;
      
  }