#container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: peachpuff;
    height: 95vh;
  }
  
  .box {
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: coral;
  
    box-shadow: 20px 20px;
  }




  #containerone {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .right-downward-shadow {
    box-shadow: 10px 10px;
  }
  
  .right-upward-shadow {
    box-shadow: 10px -10px;
  }
  
  .left-downward-shadow {
    box-shadow: -10px 10px;
  }
  
  .left-upward-shadow {
    box-shadow: -10px -10px;
  }




  #containerMain {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .pink-shadow {
    box-shadow: 10px 10px pink;
  }
  
  .orange-shadow {
    box-shadow: 10px 10px orange;
  }
  
  .gray-shadow {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .blue-shadow {
    box-shadow: -10px -10px rgba(50, 50, 90, 0.25);
  }



  #containerBlurcolor{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .no-blur-shadow {
    box-shadow: 10px 10px pink;
  }
  
  .with-blur-shadow {
    box-shadow: 10px 10px 10px orange;
  }
  
  .high-blur-shadow {
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
  }
  
  .low-blur-shadow {
    box-shadow: -10px -10px 10px rgba(50, 50, 90, 0.25);
  }



  #containerSpread {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    margin: 30px;
    font-size: 18px;
    background-color: coral;
  }
  
  .shadow-expand {
    box-shadow: 10px 10px 10px 10px pink;
  }
  
  .shadow-enlarge {
    box-shadow: 10px 10px 10px 20px orange;
  }
  
  .shadow-shrink {
    box-shadow: -20px 20px 10px -10px rgba(0, 0, 0, 0.5);
  }
  
  .shadow-collapse {
    box-shadow: -20px -20px 10px -20px rgba(50, 50, 90, 0.25);
  }




  #container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: peachpuff;
}

.box {
  height: 220px;
  width: 220px;
  margin: 30px;
  font-size: 18px;
  background-color: coral;
}

.diagonal-shadows {
  box-shadow:
    10px 10px darkred,
    -10px -10px darkblue;
}

.layered-shadows {
  box-shadow: 
    15px 15px teal,
    30px 30px darkgreen;
}

.multiple-shadows {
  box-shadow:
    8px -8px 0px -4px rgb(255, 255, 255),
    8px -8px rgb(30, 192, 26),
    16px -16px 0px -4px rgb(255, 255, 255),
    16px -16px rgb(254, 155, 84),
    24px -24px 0px -4px rgb(255, 255, 255),
    24px -24px rgb(255, 216, 18);
}

.layered-blur-shadows {
  box-shadow: 
    0px 4px 16px rgba(0, 0, 0, 0.5),
    0px 8px 24px rgba(0, 0, 0, 0.5),
    0px 16px 56px rgba(0, 0, 0, 0.5);
}






#containerInset {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    height: 220px;
    width: 220px;
    margin: 30px;
    font-size: 18px;
    background-color: pink;
  }
  
  .inner-shadow {
    box-shadow:
      inset 10px 10px darkred,
      inset -10px -10px darkblue;
  }
  
  .sunken-shadow {
    box-shadow: 
      inset 15px 15px teal,
      inset 30px 30px darkgreen;
  }
  
  .sunrise-shadow {
    background-color: aquamarine;
    box-shadow:
      inset 0px -16px 34px -16px rgba(0, 0, 0, 0.4),
      inset 0px 28px 58px -10px;
  }
  
  .leaf-shadow {
    background-color: lightgreen;
    box-shadow:
      inset 0px -24px 25px 0px rgba(0, 0, 0, 0.25),
      inset 0px -36px 32px 0px rgba(0, 0, 0, 0.2),
      inset 0px -78px 42px 0px rgba(0, 0, 0, 0.15);
  }