#container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: peachpuff;
    height: 95vh;
  }
  
  .box {
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: coral;
  
    box-shadow: 20px 20px;
  }




  #containerone {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .right-downward-shadow {
    box-shadow: 10px 10px;
  }
  
  .right-upward-shadow {
    box-shadow: 10px -10px;
  }
  
  .left-downward-shadow {
    box-shadow: -10px 10px;
  }
  
  .left-upward-shadow {
    box-shadow: -10px -10px;
  }




  #containerMain {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .pink-shadow {
    box-shadow: 10px 10px pink;
  }
  
  .orange-shadow {
    box-shadow: 10px 10px orange;
  }
  
  .gray-shadow {
    box-shadow: -10px 10px rgba(0, 0, 0, 0.5);
  }
  
  .blue-shadow {
    box-shadow: -10px -10px rgba(50, 50, 90, 0.25);
  }



  #containerBlurcolor{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: peachpuff;
  }
  
  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 220px;
    width: 220px;
    margin: 20px;
    font-size: 18px;
    background-color: coral;
  }
  
  .no-blur-shadow {
    box-shadow: 10px 10px pink;
  }
  
  .with-blur-shadow {
    box-shadow: 10px 10px 10px orange;
  }
  
  .high-blur-shadow {
    box-shadow: -10px 10px 15px rgba(0, 0, 0, 0.5);
  }
  
  .low-blur-shadow {
    box-shadow: -10px -10px 10px rgba(50, 50, 90, 0.25);
  }