#container {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: peachpuff;
    height: 95vh;
  }
  
  .box {
    height: 300px;
    width: 300px;
    margin: 20px;
    background-color: coral;
  
    box-shadow: 20px 20px;
  }