/* .orange {
    color: orange;
  }
  .green {
    color: green;
  }



  #p1 {
    color: purple;
  }
  .para {
    color: red;
  } */



  /* .para {
    color: red;
  }
  p {
    color: blue;
  } */


  div .para .sp {
    color: blue;
  }
  #p1 > span {
    color: orange;
  }