div > p {
    color: blue;
  }

  div a {
    color: orange;
    text-decoration: none;
  }


  nav > ul {
    list-style-type: none;
    font-family: Helvetica;
  }
  
  nav > ul > li {
    float: left;
    padding-right: 30px;
    color: black;
  }
  
  nav > ul > li > a {
    color: midnightblue;
    text-decoration: none;
    border-bottom: 3px solid midnightblue;
    font-weight: 700;
  }


  h1 + p {
    font-weight: bold;
    font-size: 1.1em;
    color: green;
  }


  h1 ~ p {
    color: rgb(19, 205, 81);
  }