div {
    height: 200px;
    background-color: #f5f5f5;
  }
  img {
    height: 50%;
  }


  #parent {
    border: 3px solid darkcyan;
  }
  #first {
    width: 300px;
    height: 100px;
    background-color: yellow;
  }
  #second {
    width: 50%;
    height: 100px;
    background-color: rgb(38, 44, 113);
  }

  #pixels {
    width: 100px;
    height: 50px;
    background-color: teal;
  }

  html {
    width: 40%;
    height: 40%;
    
    
  }
  #percentage {
    width: 20%;
    height: 20%;
    background-color: rgb(110, 202, 104);
    font-size: 200%;
  }

  .em {
    font-size: 20px;
    width: 10em;
    /* 10em = 10*font-size = 10*20px = 200px */
    background-color: rgb(148, 59, 15);
  }


  html {
    font-size: 10px;
  }
  #firstDiv {
    width: 10rem;
    height: 10rem;
    background-color: beige;
    font-size: 1em;
  }
  #secondDiv {
    width: 10rem;
    height: 10rem;
    background-color: rgb(168, 21, 154);
    font-size: 24px;
  }

  .window{
    height: 100vh;
    background-color: beige;
  }

  .windowWidth{
    width: 50vw;
    height: 50vw;
    background-color: rgb(77, 189, 214);
    font-size: 50px;
  }