div {
    height: 200px;
    background-color: #f5f5f5;
  }
  img {
    height: 50%;
  }


  #parent {
    border: 3px solid darkcyan;
  }
  #first {
    width: 300px;
    height: 100px;
    background-color: yellow;
  }
  #second {
    width: 50%;
    height: 100px;
    background-color: orange;
  }

  #pixels {
    width: 100px;
    height: 50px;
    background-color: teal;
  }