/* p {
    background-color: yellow;
    margin-top: 30px;
  }
  span, a {
    display: block;
    background-color: orange;
    margin-top: 30px;
  } */

  li {
    display: inline;
  }
  a {
    padding: 10px;
  }
  #span1 {
    display: none;
  }