h2{
    color: red;
}
p{
    color: rgb(31, 222, 10);
}

.first{
    color: yellow;
    font-size: 40px;
}

.second{
    color: brown;
    font-size: 30px;
}

.paraone{
    background-color: antiquewhite;
}
