.container {
    display: flex;
  }
  .pink, .orange, .green {
    padding: 30px;
  }
  .pink {
    background-color: lightpink;
  }
  .green {
    background-color: lightgreen;
  }
  .orange {
    background-color: orange;
  }


  /* .container {
    display: flex;
    padding: 10px;
    background-color: beige;
  }
  .container > div {
    background-color: orange;
    padding: 10px;
    margin: 5px;
  }
  .row {
    flex-direction: row;
  }
  .row-rev {
    flex-direction: row-reverse;
  }
  .col {
    flex-direction: column;
    min-height:200px;
  }
  .col-rev {
    flex-direction: column-reverse;
    min-height:200px;
  }


  .container1 {
    display: flex;
    flex-wrap: wrap;
  }
  .container1 > div {
    background-color: rgb(205, 39, 205);
    padding: 30px 90px;
    margin: 5px;
  }


  .container {
    display: flex;
    padding: 10px;
    background-color: beige;
  }
  .container > div {
    background-color: orange;
    padding: 20px;
    margin: 5px;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .center {
    justify-content: center;
  }
  .between {
    justify-content: space-between;
  }
  .around {
    justify-content: space-around;
  }
  .evenly {
    justify-content: space-evenly;
  } */




  .container {
    display: flex;
    padding: 10px;
    background-color: beige;
    min-height: 150px;
  }
  .container > div {
    background-color: orange;
    padding: 20px;
    margin: 5px;
  }
  .container > div:nth-child(2) {
    font-size: 2em;
  }
  .flex-start {
    align-items: flex-start;
  }
  .flex-end {
    align-items: flex-end;
  }
  .center {
    align-items: center;
  }
  .baseline {
    align-items: baseline;
  }
  .stretch {
    align-items: stretch; /* Default */
  }


  .containerMain {
    display: flex;
    height: 200px;
  }
  .containerMain > div {
    padding: 20px;
    margin: 5px;
    background-color: orange;
  }
  .last {
    align-self: end;
  }



  .containerFlex {
    display: flex;
  }
  p {
    background-color: #f1f1f8;
    padding: 10px;
    border: 1px solid #a1a1a1;
  }
  .p1 {
    flex-grow: 1;
  }
  .p2 {
    flex-grow: 2;
  }



  .containerShrink {
    display: flex;
  }
  .containerShrink > div {
    padding: 30px;
    margin: 10px;
    width: 33%;
    background-color: orange;
  }
  .shrink {
    flex-shrink: 1;
  }
  .shrink-more {
    flex-shrink: 5;
  }



  .containerBasis {
    display: flex;
  }
  .containerBasis > div {
    padding: 30px;
    margin: 10px;
    background-color: orange;
  }
  #one {
    flex-basis: 50px;
  }
  #two {
    flex-basis: 50%;
  }
  #three {
    flex-basis: 50%;
  }