.container {
    display: flex;
  }
  .pink, .orange, .green {
    padding: 30px;
  }
  .pink {
    background-color: lightpink;
  }
  .green {
    background-color: lightgreen;
  }
  .orange {
    background-color: orange;
  }


  .container {
    display: flex;
    padding: 10px;
    background-color: beige;
  }
  .container > div {
    background-color: orange;
    padding: 10px;
    margin: 5px;
  }
  .row {
    flex-direction: row;
  }
  .row-rev {
    flex-direction: row-reverse;
  }
  .col {
    flex-direction: column;
    min-height:200px;
  }
  .col-rev {
    flex-direction: column-reverse;
    min-height:200px;
  }


  .container1 {
    display: flex;
    flex-wrap: wrap;
  }
  .container1 > div {
    background-color: rgb(205, 39, 205);
    padding: 30px 90px;
    margin: 5px;
  }


  .container {
    display: flex;
    padding: 10px;
    background-color: beige;
  }
  .container > div {
    background-color: orange;
    padding: 20px;
    margin: 5px;
  }
  .flex-start {
    justify-content: flex-start;
  }
  .flex-end {
    justify-content: flex-end;
  }
  .center {
    justify-content: center;
  }
  .between {
    justify-content: space-between;
  }
  .around {
    justify-content: space-around;
  }
  .evenly {
    justify-content: space-evenly;
  }