img {
    float: left;
    padding-right: 15px;
    width: 250px;
  }

  img {
    float:left;
    padding-right: 15px;
    width: 150px;
  }
  #more {
    clear: left;
  }


  img {
    float:left;
    padding-right: 15px;
    width: 150px;
  }
  div {
    background-color: lightgreen;
    padding: 15px;
  }
  .clearfix::after {
    content: "";
    clear: both;
    display: block;
  }