/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 5px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
 */



/*  1fr to column */

/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 5px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(3n) {
  background-color: #7ecfa7;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}  */


/* grid-template column 2 parts */

/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 5px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}
  */


  /* minmax */
  /*
.container {
  display: grid;
  grid-template-columns: minmax(100px, 1fr) 1fr 1fr;
  grid-auto-rows: 100px;
  grid-gap: 5px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}
  */


  /* REPEAT */

  /*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px,1fr));
  grid-template-rows: 100px 100px 100px;
  grid-gap: 5px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}

*/


/* Auto-Fit */

/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(50px, 1fr) );
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

/*Additional CSS for styling
.html-name {
  background-color: #29B6FE;
}

#name-separater {
  background-color: black;
  color: snow;
}

.css-name {
  background-color: #E511A4;
  color: #0a0505;
}

.css-name::after, .html-name::before {
  content: "_";
  position: absolute;
  top: -28px;
  color: snow;
  font-weight: 700;
  font-size: 64px;
}

.css-name::after {
  left: -20px;
}

.html-name::before {
  right: -20px;
  z-index: 1;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Arial;
  font-weight: 700;
  position: relative;
  box-shadow: -1px -1px 1px 1px #2d2d2d;
  border-radius: 5%;
}

*/


/* Auto-Fill */

/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: repeat( auto-fill, minmax(50px, 1fr) );
  grid-auto-rows: 50px;
  grid-gap: 5px;
}

/*Additional CSS for styling
.html-name {
  background-color: #29B6FE;
}

#name-separater {
  background-color: black;
  color: snow;
}

.css-name {
  background-color: #E511A4;
  color: #0a0505;
}

.css-name::after, .html-name::before {
  content: "_";
  position: absolute;
  top: -28px;
  color: snow;
  font-weight: 700;
  font-size: 64px;
}

.css-name::after {
  left: -20px;
}

.html-name::before {
  right: -20px;
  z-index: 1;
}

.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
  font-family: Arial;
  font-weight: 700;
  position: relative;
  box-shadow: -1px -1px 1px 1px #2d2d2d;
  border-radius: 5%;
}
*/


/* Grid Auto Flow Row*/
/*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: row;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}
  */


  /* grid-auto flow column */

  /*CSS related to the topic*/
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-flow: column;
}
/*Additional CSS for styling*/
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: #000000;
}