/*CSS related to the topic*/
.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 100px;
    grid-gap: 3px;
  }
  /*Additional CSS for styling*/
  .container > div:nth-child(1n) {
    background-color: #5bc292;
  }
  .container > div:nth-child(2n) {
    background-color: #f26561;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }