/*CSS related to the topic
.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 100px;
    grid-gap: 3px;
  }
    cpment - Additional CSS for styling
  .container > div:nth-child(1n) {
    background-color: #5bc292;
  }
  .container > div:nth-child(2n) {
    background-color: #f26561;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }  */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 50%;
    border: 2px solid red;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 0.5px solid black;
  } */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
  }
  .item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #f26561;
  }
  .container > div:nth-child(1) {
    background-color: #5bc292;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 1px solid red;
  } */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
  }
  .item1 {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    background-color: #f26561;
  }
  .container > div:nth-child(1) {
    background-color: #5bc292;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 1px solid red;
  } */


  /*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: 100px 100px 100px 100px;
  grid-template-rows: auto;
  grid-gap: 3px;
}
.item1 {
  grid-column: 1 / 3;
}
.item5 {
  grid-column: 2 / 4;
}
.item8 {
  grid-column: 1 / 4;
}
.item9 {
  grid-column: 1 / -1;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #92d2b4;
}
.container > div:nth-child(2n) {
  background-color: #f26561;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}
  */

  /*CSS related to the topic
.container {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
  grid-gap: 3px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #5bc292;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}
*/


/*CSS related to the topic
.container {
  display: grid;
  grid-template-rows: 100px 80px 120px;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
}
/*Additional CSS for styling
.container > div:nth-child(1n) {
  background-color: #5bc292;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}

*/

/*CSS related to the topic*/
.container {
  display: grid;
  grid-template-rows: auto;
  height: 300px;
  grid-template-columns: auto auto auto;
  grid-gap: 3px;
}
/*Additional CSS for styling*/
.container > div:nth-child(1n) {
  background-color: #5bc292;
}
.container > div {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: black;
}