/*CSS related to the topic
.container {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 50px 100px;
    grid-gap: 3px;
  }
    cpment - Additional CSS for styling
  .container > div:nth-child(1n) {
    background-color: #5bc292;
  }
  .container > div:nth-child(2n) {
    background-color: #f26561;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
  }  */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    width: 50%;
    border: 2px solid red;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 0.5px solid black;
  } */


  /* .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
  }
  .item1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
    background-color: #f26561;
  }
  .container > div:nth-child(1) {
    background-color: #5bc292;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 1px solid red;
  } */


  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-rows: 100px;
  }
  .item1 {
    grid-column: 1 / -1;
    grid-row: 1 / span 2;
    background-color: #f26561;
  }
  .container > div:nth-child(1) {
    background-color: #5bc292;
  }
  .container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: black;
    border: 1px solid red;
  }