button {
    padding: 8px 12px;
    background-color: purple;
    color: white;
    font-size: 1em;
  }
  #first {
    opacity: 1;
    /* Default value */
  }
  #second {
    opacity: 0.3;
  }


  div {
    margin: 20px;
    padding: 30px;
    background-color: rgb(253,186,116);
    opacity: 0.5;
  }



  .main {
    margin: 20px;
    padding: 30px;
    background-color: rgba(253,186,116,0.5);
  }