/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
  }
  header, nav, .left, .main, .right, footer {
    padding: 10px;
    background-color: #f1f5ff;
  }
  header {
    height: 80px;
    line-height: 60px;
  }
  nav, footer {
    margin-top: 10px;
    height: 50px;
    line-height: 30px;
  }
  .left, .right {
    width: 25%;
    float: left;
    margin-top: 10px;
    height: 250px;
    line-height: 230px;
  }
  .main {
    width: 46%;
    float: left;
    margin: 10px 2% 0;
    height: 250px;
    line-height: 230px;
  }
  .content::after {
    content: "";
    display: block;
    clear: both;
  } */



  /*  fixed layout*/
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    width: 900px;
    margin: auto;
    padding: 10px;
    font-family: sans-serif;
    font-size: 1em;
    text-align: center;
  }
  header, .left, .main, .right {
    padding: 10px;
    background-color: #f1f5ff;
  }
  header {
    height: 80px;
    line-height: 60px;
  }
  .left,
  .right {
    width: 215px; 
    float: left;
    margin-top: 10px;
    height: 250px;
    line-height: 230px;
  }
  .main {
    width: 430px; 
    float: left;
    margin: 10px 10px 0;
    height: 250px;
    line-height: 230px;
  } */







  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: auto;
    width: 1200px;
  }
  header,
  .left,
  .main {
    padding: 10px;
    margin-top: 10px;
  }
  header {
    height: 80px;
    background-color: #f1f5ff;
  }
  .left {
    width: 348px;
    float: left;
    height: 250px;
    background-color: #d4d7ff;
  }
  .main {
    width: 828px;
    float: right;
    height: 250px;
    background-color: #ffd4d7;
  }
  @media (min-width: 768px) and (max-width: 1200px) {
    body {
      width: 768px;
    }
    .left {
      width: 222px;
    }
    .main {
      width: 530px;
    }
  }
  @media (min-width: 480px) and (max-width: 767px) {
    body {
      width: 480px;
    }
    .left,
    .main {
      float: none;
      width: 480px;
    }
  }
  @media (max-width: 479px) {
    body, .left, .main {
      width: 300px;
    }
  }