/* #parent {
    background-color: teal;
    width: 200px;
    height: 100px;
  }
  #fixed {
    background-color: orange;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
  } */



  body {
    margin: 0;
    height: 400vh;
    width: 400vh;
  }
  #div1 {
    width: 100vw;
    height: 100vh;
    background-color: teal;
  }
  #sticky {
    background-color: orange;
    width: 50px;
    height: 50px;
    position: sticky;
   /* top: 100px;   top offset value*/
       bottom: 50px;
  }