/* #parent {
    background-color: teal;
    width: 200px;
    height: 100px;
  }
  #fixed {
    background-color: orange;
    width: 50px;
    height: 50px;
    position: fixed;
    left: 0px;
    bottom: 0px;
  } */



  body {
    margin: 0;
    height: 400vh;
    width: 400vh;
  }
  #div1 {
    width: 100vw;
    height: 100vh;
    background-color: teal;
  }
  #sticky {
    background-color: orange;
    width: 50px;
    height: 50px;
    position: sticky;
   /* top: 100px;   top offset value*/
       bottom: 50px;
  }


  #parent1 {
    width: 250px;
    height: 250px;
    background-color: teal;
    margin-top: 50px;
  }
  
  #sticky1 {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: sticky;
    top: 0px;
  }




  .parentmain {
    width: 100px;
    height: 100px;
    background-color: teal;
    margin-bottom: 10px;
    position: relative;
  }
  .child {
    position: absolute;
    background-color: orange;
  }
  #child1 {
    inset: 10px 20px 30px 0px;
    /* top right bottom left - clockwise direction starting from top */
  }
  #child2 {
    inset: 10px 20px 30px;
    /* top right&left bottom */
  }
  #child3 {
    inset: 10px 20px;
    /* top&bottom right&left */
  }
  #child4 {
    inset: 10px;
    /* all four */
  }