/* a {
    color: tomato;
  }
  a:visited {
    color: darkgrey;
  }
  a:hover {
    color: orange;
    text-decoration: none;
  }
  a:active {
    color: darkred;
  }





  input:focus {
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    outline: none;
  }
  
  button:focus {
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    outline: none;
  }
  
  button:active {
    color: #fff;
    background-color: #007bff;
  }






  ul {
    list-style-type: none;
    margin: 0 0 40px -40px;
  }
  ul > li {
    display: inline-block;
    padding-right: 20px;
  }
  li:first-child {
    color: orange;
  }
  a:last-child {
    float: right;
  }


  ul {
    list-style-type: none;
    margin: 0 0 40px -40px;
  }
  ul > li {
    display: inline-block;
    padding-right: 20px;
  }
  li:nth-child(2) {
    color: orange;
  }



  ul {
    list-style-type: none;
    margin-left: -40px;
  }
  li {
    padding: 10px;
  }
  li:nth-child(even) {
    background-color: #f0f1f6;
  }


  span {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: lightgray;
    margin-right: 5px;
  }
  span:nth-child(n+3) {
    background-color: teal;
  } */



  /* span {
    padding: 5px 8px;
    background-color: lightgray;
    border-radius: 3px;
  }
  span:first-of-type {
    background-color: orange;
  } */



  a:nth-of-type(even) {
    float: right;
  }
  