a {
    color: tomato;
  }
  a:visited {
    color: darkgrey;
  }
  a:hover {
    color: orange;
    text-decoration: none;
  }
  a:active {
    color: darkred;
  }





  input:focus {
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    outline: none;
  }
  
  button:focus {
    border: 2px solid #007bff;
    background-color: #f0f0f0;
    outline: none;
  }
  
  button:active {
    color: #fff;
    background-color: #007bff;
  }






  ul {
    list-style-type: none;
    margin: 0 0 40px -40px;
  }
  ul > li {
    display: inline-block;
    padding-right: 20px;
  }
  li:first-child {
    color: orange;
  }
  a:last-child {
    float: right;
  }


  ul {
    list-style-type: none;
    margin: 0 0 40px -40px;
  }
  ul > li {
    display: inline-block;
    padding-right: 20px;
  }
  li:nth-child(2) {
    color: orange;
  }