input[type="text"] {
    border: 1px solid lightgray;
    padding: 4px 8px;
    font-size: 1em;
  }
  button {
    border: none;
    padding: 4px 8px;
    background-color: purple;
    color: white;
    font-size: 1em;
  }
  #name:focus {
    outline: none;
    border: 1px solid black;
  }
  button:hover {
    background-color: darkblue;
  }



  p:hover {
    color: brown;
  }
  #link1:hover {
    text-decoration: none;
  }
  #link2:hover {
    color: green;
   
  }