/* p {
    font-size: 1.1rem;
  }
  #intro::first-letter {
    font-size: 2.5rem;
    color: purple;
  }
  
  #quote::before {
    content: '“';
    font-size: 2rem;
    color: purple;
  }



  div {
    max-width: 400px;
  }
  p::first-line {
    font-size: 1.2rem;
    line-height: 1.2rem;
    color: brown;
  }



  div {
    max-width: 400px;
  }
  p::first-letter {
    font-size: 2rem;
    color: brown;
  } */



  .question::before {
    content: "Q";
  }
  .answer::before {
    content: "A";
  }
  .question::before, .answer::before {
    margin-right: 5px;
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 0;
    color: tomato;
  }