section {
    display: flex;
  }
  .col {
    margin: 10px;
    padding: 5px 15px;
    background-color: #F1F5F9;
  }
  @media screen and (max-width: 630px) {
    section {
      flex-direction: column;
    }
  }


  div {
    height: 200px;
    background-color: green;
  }
  @media screen and (min-width: 600px) {
    div {
      background-color: orange;
    }
  }



  div {
    height: 200px;
    background-color: green;
  }
  @media screen and (min-width: 401px) and (max-width: 800px) {
    div {
      background-color: orange;
    }
  }
  @media screen and (max-width: 400px) {
    div {
      background-color: red;
    }
  }






  p {
    width: 50%;
  }
  @media screen and (orientation: portrait) {
    p {
      width: 100%;
    }
  }