/* body {
    background-color: orange;
  } */
  .newpara{
    background-color: yellow;
    margin: 2em;
  }

  #first {
    background-color: yellow;
    margin-top: 50px;
    margin-left: 100px;
  }
  #second {
    background-color: orange;
    margin-right: 80px;
  }

  #fourValues {
    background-color: yellow;
    margin: 50px 100px 80px 20px; /* top right bottom left */
  }

  #threeValues {
    background-color: yellow;
    margin: 50px 0px 80px; /* top right-left bottom */
  }

  #twoValues {
    background-color: yellow;
    margin: 50px 0px 80px; /* top right-left bottom */
  }
  #oneValue{
    background-color: yellow;
    margin: 50px;
  }

  #firstdiv {
    background-color: orange;
    height: 100px;
  }
  #seconddiv {
    background-color: green;
    width: 50%;
    height: 100px;
    margin-top: -2em;
  }

  .paraone {
    width: 75%;
    margin: auto;
    
  }
  .para {
    width: 75%;
    margin: 10px auto 0px;
    
  }


  .parent {
    background-color: lightblue;
    height: 80px;
    padding: 30px;
  }
  
  .paddingpara {
    width: 50%;
    background-color: chartreuse;
  }

  .eachside {
    background-color: #f0f0f0;
    padding-top: 50px;
    padding-bottom: 100px;
    padding-right: 20px;
    padding-left: 20px;
  }

  .fourValues{
    background-color: lightgray;
    padding: 50px 100px 80px 20px; /* top right bottom left */

  }