/* body {
    background-color: orange;
  } */
  p {
    background-color: yellow;
    margin: 2em;
  }

  #first {
    background-color: yellow;
    margin-top: 50px;
    margin-left: 100px;
  }
  #second {
    background-color: orange;
    margin-right: 80px;
  }

  #fourValues {
    background-color: yellow;
    margin: 50px 100px 80px 20px; /* top right bottom left */
  }

  #threeValues {
    background-color: yellow;
    margin: 50px 0px 80px; /* top right-left bottom */
  }

  #twoValues {
    background-color: yellow;
    margin: 50px 0px 80px; /* top right-left bottom */
  }
  #oneValue{
    background-color: yellow;
    margin: 50px;
  }