p {
    margin: 20px 0 10px;
}
#input1 {
  width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid darkgray;
}
#input1:focus, #input1:hover {
  outline: none;
  border: 1px solid black;
}
#input2 {
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
}
textarea {
  width: 250px;
  height: 80px;
  padding: 8px 12px;
  font-family: serif;
  font-size: 18px;
  background-color: lightyellow;
}




form {
    width: 300px;
    border: 3px solid black;
  }
  input {
    width: 200px;
    height: 25px;
  }
  textarea {
    width: 100%;
    height: 100px;
  }