/* a {
    margin-right: 30px;
    font-family: sans-serif;
  } */
  #first {
    color: tomato;
  }
  #second {
    color: teal;
    text-decoration: none;
  }
  #third {
    padding: 12px 15px;
    text-decoration: none;
    color: darkgreen;
    background-color: lightgreen;
  }
  #fourth {
    padding: 12px 15px;
    text-decoration: none;
    color: orange;
    border: 1px solid;
  }


  /* a {
    display: inline-block;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    text-decoration: none;
    padding: 10px;
    background-color: slateblue;
    border-radius: 5px;
  } */




  a {
    color: tomato;
  }
  a:visited {
    color: darkgrey;
  }
  a:hover {
    color: orange;
    text-decoration: none;
  }
  a:active {
    color: darkred;
  }