ul {
    list-style-type: square;
  }




  ol {
    list-style-type: lower-alpha;
  }


  ul {
    list-style-image: url('blue-marker.png');
  }



  ul {
    max-width: 350px;
    margin-left: -20px;
  }
  #inner {
    list-style-position: inside;
  }
  #outer {
    list-style-position: outside; /* Default value */
  }