h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  ul {
    text-align: left;
    /* This is the default value */
  }
  #credits {
    text-align: right;
  }


  .decoration{
    text-decoration: underline overline dotted red;
  }
  .underline {
    text-decoration: underline;
  }
  #linethrough {
    text-decoration: line-through;
  }
  .none {
    text-decoration: none;
    /* Removes default underline */
    color: purple;
  }
  #newprice {
    color: green;
  }

  #first {
    line-height: 1em;
  }
  #second {
    line-height: 140%;
  }
  #third {
    line-height: 2;
  }
  #fourth {
    line-height: normal;
  }


  h1 {
    letter-spacing: -3px;
  }
  .latterspacing {
    letter-spacing: 0.2em;
  }
  
  .hfont {
    font-size: 2.4em;
  }
  .parafont {
    font-size: 120%;
  }

  #serif {
    font-family: serif;
  }
  #sans-serif {
    font-family: sans-serif;
  }
  #monospace {
    font-family: monospace;
  }
  #cursive {
    font-family: cursive;
  }
  #fantasy {
    font-family: fantasy;
  }
  p {
    font-size: 1.2em;
    margin-top: 10px;
  }

.first {
    font-weight: bold;
  }
  .second{
    font-weight: 400; /* Normal */
  }