h2 {
    text-align: center;
  }
  p {
    text-align: justify;
  }
  ul {
    text-align: left;
    /* This is the default value */
  }
  #credits {
    text-align: right;
  }


  .decoration{
    text-decoration: underline overline dotted red;
  }
  .underline {
    text-decoration: underline;
  }
  #linethrough {
    text-decoration: line-through;
  }
  .none {
    text-decoration: none;
    /* Removes default underline */
    color: purple;
  }
  #newprice {
    color: green;
  }

  #first {
    line-height: 1em;
  }
  #second {
    line-height: 140%;
  }
  #third {
    line-height: 2;
  }
  #fourth {
    line-height: normal;
  }


  h1 {
    letter-spacing: -3px;
  }
  .latterspacing {
    letter-spacing: 0.2em;
  }
  