.container {
    background-color: red;
    height: 50px;
    width: 50px;
    transform: scale(1.5);
  }



  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .flex-container {
    display: flex;
    gap: 50px;
  }
  
  .label-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .child-1 {
    background-color: red;
    height: 50px;
    width: 50px;
  }
  
  .child-2 {
    background-color: red;
    height: 50px;
    width: 50px;
    transform: scale(2);
  }



  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .flex-container {
    display: flex;
    gap: 50px;
  }
  
  .label-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .child-1 {
    /* background-color: red; */
    height: 50px;
    width: 50px;
    transform: scale(1, 2);
  }
  
  .child-2 {
    /* background-color: red; */
    height: 50px;
    width: 50px;
    transform: scale(2, 1);
  }

  .bodyMAin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .img-containerMAIN {
    display: flex;
    gap: 50px;
  }
  
  .label-containerMAIN {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .child-1, .child-2, .child-3 {
    width: 100px;
  }
  
  .child-1 {
    transform: rotate(1rad);
  }
  
  .child-2 {
    transform: rotate(30deg);
  }
  
  .child-3 {
    transform: rotate(0.7turn);
  }




  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .flex-container {
    display: flex;
    gap: 100px;
  }
  
  .label-container {
    display: flex;
    gap: 50px;
    margin-top: 20px;
  }
  
  .child-1, .child-2, .child-3 {
    width: 100px;
  }
  
  .child-1 {
    transform: skew(30deg, 30deg);
  }
  
  .child-2 {
    transform: skewX(0.1turn);
  }
  
  .child-3 {
    transform: skewY(0.1turn);
  }





  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .body > div:first-child {
    display: flex;
    gap: 25px;
  }
  
  .body > div:last-child {
    display: flex;
    gap: 150px;
    margin-top: 20px;
  }
  
  .box-1, .box-2, .box-3 {
    border: 1px solid black;
    height: 200px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-1, .img-2, .img-3 {
    width: 100px;
  }
  
  .img-2 {
    transform: translateY(50px);
  }
  
  .img-3 {
    transform: translate(50%);
  }


  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  .img-container {
    display: flex;
    gap: 25px;
  }
  
  .label-container {
    display: flex;
    gap: 200px;
    margin-top: 5px;
  }
  
  .box-1, .box-2 {
    border: 1px solid black;
    height: 250px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .img-1,
  .img-2 {
    width: 100px;
  }
  
  /* The second image uses a perspective and rotation on the X-axis */
  .img-2 {
    transform: perspective(50px) rotateX(60deg);
  }
  
  .slider {
    width: 300px;
    margin-top: 10px;
  }