div {
    --primary-color: blue;
    --secondary-color: green;
    --primary-font-weight: 800;
    --secondary-font-weight: 400;
  }
  
  div > h1 {
    color: var(--primary-color);
    font-weight: var(--primary-font-weight);
  }
  
  div > p {
    color: var(--secondary-color);
    font-weight: var(--secondary-font-weight);
  }



  h1 {
    --primary-color: blue;
    color: var(--primary-color);
  }







  :root {
    color: yellow;
  }